    h3 {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: left;
        width: 100%;
        padding-left: 65px;
        font-size: 1em;
    }
    
    header {
        background-color:rgba(0, 0, 0, 0.137);
        padding-bottom: 1em;
        padding-top: 1em;    
    }
    
    i {
        padding-left: 2em;
        float: left;
        color: rgb(113, 170, 29);
        padding-top: 1px;
    }
    