<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spotisearch</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/grid.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
</head>
<app-header></app-header>
<body>
  <div class="container">
    <div class="welcome"><h3>Welcome to</h3></div>
    <h1><span>Spotisearch</span></h1>
    <app-sbox></app-sbox>
    <app-fsongs></app-fsongs>
  </div>
  <app-footer></app-footer>
</body>
</html>