.wrapper {
    padding-top: 50px;
    margin: 0 auto;
    max-width: 48rem;
    width: 90%;
    font-family: monospace;
}


h1 {
    display: inline-block;
    
}
h1 {
    font-size: 50px
}
h2 {
    font-size: 20px;
}
span {
    background:greenyellow;
}

.welcome{
    color: white;
}